<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
dddd

</body>
</html>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script type="text/javascript">
    // $.ajax({
    //     type: 'GET',
    //     url: 'http://localhost:8082/disvenk/page/getCookie',
    //     success: function (res) {
    //         alert(res);
    //     },
    //     error: function (err) {
    //         alert(err);
    //     }
    // });
    // alert("ajax请求成功");
</script>